@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

html {
	background-color: pink;
}

.head, .main-head  {
	font-family: Comic Sans MS, sans-serif;
	justify-content: center;
	display: flex;
	color: #FFAA00;
}

.list_andr_adv, .list_ios_adv, .list_andr_dis, .list_ios_dis {
	color: #B8A88A;
	list-style-position: inside;
}

.header {
	background-color: #262523;
	align-items: center;
	display: flex;
	justify-content: center;
	font-family: Comic Sans MS, sans-serif;
	color: #FFAA00;
}

.advantages, .disadvantages {
	background-color: #262523;
}

.android_adv, .iOS_adv, .android_dis, .iOS_dis {
	background-color: #19181A; 
}

@media screen and (min-width:900px) {
	
.main-head {
	font-size: 2.5em;
}

.head {
	font-size: 2em;
}

.list_andr_adv, .list_ios_adv, .list_andr_dis, .list_ios_dis {
	font-size: 1.1em;
	margin: 1% 1% 2% 3%;
}

.header {
	width: calc(100% - 16px);
	height: 100px;
	border: 8px groove #03094B;
	font-size: 4em;
}	

.advantages, .disadvantages {
	width: 94%;
	margin: 3%;
	border: 6px groove #03094B;
	display: table;
	border-collapse: separate;
	border-spacing: 5px 15px;
}	


.android_adv, .iOS_adv, .android_dis, .iOS_dis {
	width: 10%;
	border: 5px groove #2F2A42;
	display: table-cell;
}
}


@media screen and (min-width: 700px) and (max-width: 900px), screen and (width: 900px) {
	
.main-head {
	font-size: 2.2em;
}

.head  {
	font-size: 1.7em;
}

.list_andr_adv, .list_ios_adv, .list_andr_dis, .list_ios_dis {
	font-size: 1.4em;
	margin: 1% 1% 2% 2%;
}

.header {
	width: calc(100% - 12px);
	height: 80px;
	border: 6px groove #03094B;
	font-size: 3.7em;
}	

.advantages, .disadvantages {
	width: calc(96%-8px);
	margin: 3%;
	border: 4px groove #03094B;
	display: table;
	border-collapse: separate;
	border-spacing: 3px 8px;
}	

.android_adv, .iOS_adv, .android_dis, .iOS_dis {
	width: calc(96%-6px);
	margin: 3%;
	border: 3px groove #2F2A42;
	display: table-inline;
}
}


@media screen and (min-width: 400px) and (max-width: 700px), screen and (width: 700px) {
	
.main-head {
	font-size: 1.7em;
}

.head {
	font-size: 1.3em;
}

.list_andr_adv, .list_ios_adv, .list_andr_dis, .list_ios_dis {
	font-size: 1.1em;
	margin: 1% 1% 1% 2%;
}

.header {
	width: calc(100% - 8px);
	height: 50px;
	border: 4px groove #03094B;
	font-size: 3em;
}	

.advantages, .disadvantages {
	width: calc(96%-6px);
	margin: 4%;
	border: 3px groove #03094B;
	display: table;
	border-collapse: separate;
	border-spacing: 2px 7px;
}	

.android_adv, .iOS_adv, .android_dis, .iOS_dis {
	width: calc(96%-4px);
	margin: 2%;
	border: 2px groove #2F2A42;
	display: table-inline;
}
}


@media screen and (max-width: 400px), screen and (width: 400px) {
	
.main-head {
	font-size: 1.5em;
}

.head {
	font-size: 1.2em;
}

.list_andr_adv, .list_ios_adv, .list_andr_dis, .list_ios_dis {
	font-size: 1.1em;
	margin: 1% 1% 1% 1%;
}

.header {
	width: calc(100% - 6px);
	height: 30px;
	border: 3px groove #03094B;
	font-size: 2em;
}	

.advantages, .disadvantages {
	width: calc(95%-4px);
	margin: 5%;
	border: 2px groove #03094B;
	display: table;
	border-collapse: separate;
	border-spacing: 1px 5px;
}	

.android_adv, .iOS_adv, .android_dis, .iOS_dis {
	width: calc(95%-2px);
	margin: 1%;
	border: 1px groove #2F2A42;
	display: table-inline;
}
}
