@import url('https://fonts.googleapis.com/css?family=Pacifico&subset=cyrillic');


hr {
  border-width: 2px !important;
  border-color: #000000 !important;
}

label {
  color: #ffffff;
}

li:hover {
  background-color: rgba(99, 112, 122, 0.6);
}


.container p, .display-4{
  font-family: 'Pacifico', sans-serif;
}

.navbar-text {
  font-family: 'Pacifico', sans-serif;
  color: #d6e9f2;
}

.square, .form {
  background-color: rgba(99, 112, 122, 0.6) ;
  text-align: center;
}

.form .p-5 {
  background-color: rgba(50, 48, 55, 0.6);
}

.square button, .jumbotron button, .form button {
  background: #343A40;
  display: block;
  margin: auto;
  font-family: sans-serif;
}


@media screen and (min-width: 600px) {

  body {
    background-image: url(img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
  }


.navbar-nav li {
  text-indent: 2%;
}



.navbar-brand img {
  width: 120px;
  height: 120px;
}

.nav-link {
  font-size: 1.4em !important;
  color: #000000 !important;
}

.jumbotron {
  background-color: rgba(116, 130, 140, 0.6) !important;
  font-family: 'Pacifico', sans-serif;
  color: #000000;
  width: 90%;
  margin: 5%;
  padding: 5%;
}

.square, .form {
  margin: 5%;
  padding: 2%;
}

.lead {
  font-size: 1.3em !important;
}

.row img {
  width: 100%;
}

.row p {
  width: 100%;
  font-size: 1.3em;

}

.form .p-5 {
  margin: 5%;
}

}

@media screen and (max-width: 600px) {
  body {
    background-image: url(img/background.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
  }

.navbar-text {
  font-size: 1.2em;
}

.navbar-nav li {
  text-indent: 1%;
}

.navbar-brand img {
  width: 80px;
  height: 80px;
}

.nav-link {
  font-size: 1.1em !important;
  color: #000000 !important;
}

.jumbotron {
  background-color: rgba(116, 130, 140, 0.6) !important;
  font-family: 'Pacifico', sans-serif;
  color: #000000;
  width: 94%;
  margin: 3%;
  margin-top: 10%;
  padding: 3%;
}

.square, .form {
  margin: 3%;
  padding: 3%;
}

.jumbotron h1 {
  font-size: 1.7em !important;
}

.display-4 {
  text-align: center;
}

.lead {
  font-size: 1.2em !important;
}

.row img {
  width: 95%;
  margin: 5%, 0%, 5%, 5%;
}

.row p {
  width: 95%;
  margin: 3%, 3%, 3%, 3%;
  font-size: 1.2em;
}

.form .p-5 {
  margin: 3%;
}
}
